:root {
  --light: #FCFCFC;
  --primary: #243A5C;
  --primary-light: rgb(46, 77, 124);  
  --primary-dark: #23222D;
  --action: #256EFF;
  --danger: rgb(219, 61, 61);
  --danger-light: rgb(236, 88, 88);
  --warning: rgb(243, 151, 30);
  --comp: rgb(6, 143, 91);
  --comp-light: rgb(30, 175, 120);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary);
  background: -webkit-linear-gradient(to right, var(--primary-dark), var(--primary));
  background: linear-gradient(to right, var(--primary-dark), var(--primary)); 
  color: var(--light);
  font-family: 'KoHo', sans-serif;  
}  

a {
  color: var(--light);
}

footer {
  position: absolute;
  bottom: 0;  
  left: 0;
  right: 0;
  padding: 1em;
  font-size: 0.75rem;
}

footer a {
  float: right;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex--center {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.btn > input[type=submit]{
  cursor: pointer;
  border: none;
  background: var(--comp);
  color: var(--light);
  padding: 0.45rem;
  border-radius: 2px;
}

.btn > input[type=submit]:hover{
  background: var(--comp-light);
}

.btn--danger input[type=submit]{
  background: var(--danger);
}

.btn--danger > input[type=submit]:hover {
  background: var(--danger-light);
}


.flash {
  padding: 0;
  list-style: none;  
  
}

.flash li {
  background: var(--comp);
  padding: 1rem;
  border-radius: 3px;
}

.navbar {
  padding: 1rem;
}

.navbar a {
  color: var(--light);
  margin-right: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--comp-light);
}

.header {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.header__title {
  font-weight: 100;
}

.main {
  /* outline: 6px dashed red; */
  /* display: flex; */
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
}

.form {  
  /* outline: 3px dashed orange; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-items: center; */
  border-radius: 2px;
}

.form__input {  
  /* outline: 1px solid var(--comp); */
  border: none;
  border-radius: 2px;
  display: flex;
  margin-bottom: 1rem;  
}

.form__input[type=submit] {
  cursor: pointer;
  background: var(--comp);
  color: var(--light);
  padding: 0.45rem;
}

.form__input[type=submit]:hover {
  background: var(--comp-light);
  
}

.links {
  /* outline: 4px solid blue; */
  /* border: 2px solid var(--primary-dark); */
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.links a {
  text-decoration: none;
  
}

.links__a {
  /* text-align: center; */
  display: block;
  /* outline: 1px dashed black; */
  padding: 0.9rem;
  /* font-size: 1.2rem; */
  color: var(--light);
  text-decoration: none;
}

.links__a:hover {
  background: var(--comp);
}

.links__item {
  background: var(--primary);
  /* display: flex; */
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: center;
}

.links__item-container {
  text-align: center;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.links__item-container p {
  margin: 0;
  
  /* text-emphasis: uppercase; */
}

.links__item-container img {
  height: 100%;
  max-height: 1rem;
  height: auto;
  /* padding: 1rem; */
}

.warning.links__item-container :hover {
  color: var(--warning);
}

.danger.links__item-container :hover {
  color: var(--danger);
}

.links__item-a {
  height: 100%;
}

.links__item:nth-of-type(even) {
  background: var(--primary-dark);
}
