<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crands Files</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
</head>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <li><button class="flash__close">&#10006;</button>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% include "_nav.html" %}
  </div>



  <header class="header">
    {% if user %}
      <h1>You have <span id="numFiles">{{files.count()}}</span> files</h1>
    {% else %}
      <h1 class="header__title">File Uploader</h1>
      <p class="header__sub">Supports pdf, jpg, png, gif, and txt</p>
    {% endif %}
  </header>

  {% block content %}{% endblock %}

  <footer class="footer">
    <small>
      <div class="container">
        {% if user %}
        Saying goodbye?
        <a href="/delete_user">
          Delete your account.
        </a>
        {% else %}
        {% endif %}              
          <small>
              <p>
                2018 &#x24B8; 
                <a title="David's website" href="https://dcrands.com">David Crandall</a>          
              </p>
          </small>          
        </div>
    </small>    
  </footer>

  <script>
    const flashClosers = document.querySelectorAll('.flash__close');
    const flashMsgs = document.querySelectorAll('.flash li');
    
      setTimeout(() => {
        if (flashMsgs.length > 1) {
          flashClosers.forEach((closer, index) => {
            closer.addEventListener('click', () => {
              flashMsgs[index].style.display = "none";
            })
          });
        } else {
          flashClosers[0].addEventListener('click', () => {
            flashMsgs[0].style.display = "none";
          });
        };        
      }, 500)   

  </script>
</body>

</html>