{% extends "base.html" %}

{% block content %}
  <main class="main">
    <form class="form" method=post enctype=multipart/form-data required>
      <div>
        <input class="form__input" type=file name=file>
      </div>
      <div>
        <input class="form__input" type=submit value=Upload>
      </div>
    </form>
    <section class="files">
      <div class="links">
        {% for file in files %}
        <div class="links__item">
          <a title="open file" class="links__a" href="{{url_for('uploaded_file', filename=file.name)}}"> 
            {{file.name}}
          </a>
          <a title="download" class="links__item-container warning" href="{{url_for('uploaded_file', filename=file.name)}}" download>
            <div>
                <img class="links__item-a" src="../static/images/download.svg" alt="download file">
                <p>Download</p>
            </div>          
          </a>
          <a title="delete" class="links__item-container danger" href="{{url_for('delete_file', filename=file.name)}}">
            <div>
                <img class="links__item-a" src="../static/images/rubbish-bin.svg" alt="delete file">
                <p>Delete</p>
            </div>            
          </a>
        </div>
        {% endfor %}
      </div>
    </section>

  </main>

{% endblock %}
